@import '_mixin.scss';
@import '_menu.scss';
@import '_contenido.scss';



@keyframes iluminar {
  from {
    @include color-scheme($text-color, $bg-color);
  }
  to {
    @include color-scheme($text-hover-color, $bg-hover-color);
  }
}




body {
  padding: 0px;
  margin: 0px;
}

header {
  padding: 12px 30px;
  font-size: 1.8em;
  color: #444;
  background-color: #eee;
  font-weight: bold;
  text-shadow: 1px 1px 2px #aaa;
  font-family: Georgia, "Times New Roman", Times, serif;
}

footer {
  @include color-scheme($text-color, $bg-color);
  @include box-sizing(border-box);
  position: fixed;
  width: 100%;
  bottom: 0px;
  padding: 5px;
}

// Placeholder para button style
%button-block {
  box-sizing: border-box;
  width: 100%;
  padding: 5px 10px;
  border-radius: 5px;
  border: 1px solid transparent;
  cursor: pointer;
}

// Placeholder para input style
%input-block {
  box-sizing: border-box;
  width: 100%;
  border-radius: 5px;
  padding: 5px 10px;
  border: 1px solid #bbb;
}



#contenido {
  padding: 30px 20px;

  // Diseño responsivo para medium size
  @include responsiveMedium(padding, 10px 20px);

  .col-left {
    /*@extend %input-block;
    @extend %button-block;*/
    box-sizing: border-box;
    width: 30%;
    float: left;
    padding: 10px;

    // Diseño responsivo para tamaños small
    @include responsiveSmall(float, none);
    @include responsiveSmall(width, 100%);

    // Extender estilos de inputs y botones
    input {
      @extend %input-block;
    }

    button {
      @extend %button-block;
    }
  }

  .col-right {
    box-sizing: border-box;
    margin-left: 30%;
    width: 70%;
    padding: 10px;

    // Estilos para h1
    h1 {
      color: $colorTitle;
      font-size: 1.6em;
    }

    // Diseño responsivo para tamaños small
    @include responsiveSmall(margin-left, 0);
    @include responsiveSmall(width, 100%);
  }

  .button-action {
    background-color: $bg-color;
    color: white;

    &:hover {
      background-color: lighten($bg-color, 20%);
    }
  }
}

header {
  @if $theme == dark {
    background-color: #138;
  } @else if $theme == light {
    background-color: #ddf;
    color: #138
  }
}

